ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/1a3pqi147aknj24e.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/1dl74f7revfcvymk.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/1ov2suh5esj43rvf.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/1s85df5oqspafvt2.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/1uc2n82570kz4iqp.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/2hlb3mzsrqywkjfu.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/2s5jeoltwzvc2tlg.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/3d50co2lwlplzom4.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/3gf0vleo1klbf53e.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/3lp3gnluvou310fr.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/3sfg04udjg3drj5u.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/4cujw30dgfr2ml4u.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/4ma2suhvbqqii7x0.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/4nkcev07t5wf83al.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/4sbngqsgentf78bt.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/4w5ishfymbq292lb.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/10j95fx8jr9r000o.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/42ne8mkadud726rw.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/45kehijycvvlobay.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/49tji5lfuwhmzck3.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/51lyxp0v5pxawep2.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/224lthpk9167pqoh.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/dep-graph.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/emq7bgopuf13m0g.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/ibgjk0bz8qzbuys.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/lg56c6ydyhfzfcp.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/query-cache.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/d-control-flow-strings/target/debug/incremental/d_control_flow_strings-3uzpvnog3bmir/s-gs0m12ffsf-qgc8vq-9ovm36jiza6llgoriefukpzdg/work-products.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/Cargo.lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/.rustc_info.json
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/CACHEDIR.TAG
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/.cargo-lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/e_ownership_references.pdb
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/e-ownership-references.d
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/e-ownership-references.exe
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/.fingerprint/e-ownership-references-064bae76a5f6b1cd/bin-e-ownership-references
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/.fingerprint/e-ownership-references-064bae76a5f6b1cd/bin-e-ownership-references.json
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/.fingerprint/e-ownership-references-064bae76a5f6b1cd/dep-bin-e-ownership-references
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/.fingerprint/e-ownership-references-064bae76a5f6b1cd/invoked.timestamp
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/deps/e_ownership_references.d
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/deps/e_ownership_references.exe
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/deps/e_ownership_references.pdb
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1.lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/1fkev7mqj6q7b7et.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/1la35vo50kguu8q1.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/1rklbvz4ybb6g5sj.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/1ujppxjer1vrf1ra.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/1xt8k64ajmtyswq7.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/2jhphfuddls3r8bd.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/2pn167stupr8gxgk.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/2xfhy6yvy5zda72y.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/2yr7og0drplfxqbg.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/2z0yktvohzp50dqi.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/3b1eek7u9m7k58bd.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/3flxcpm670wvnzgs.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/3l3dug6q7lrxhxsg.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/3m9qpqa38fq1a0uw.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/3r87ia9e8a657kmm.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/4blxqisi1v83hzbg.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/4e67wxfzkn0rv72s.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/4th6h01qisy77wmr.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/4wzt7zdccorq06q8.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/5eu1ztjzs0ugvf8c.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/14fk5xk4qeupc090.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/16dh6vltzimu2ujw.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/26wqlbxc1swby0lw.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/28ok5vmkvf56dxji.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/30psseksyuc0dxqd.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/46xlytjcoctqlkx7.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/49yghpt9gktekmru.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/57kcjvd5e5espgp5.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/279phu6vayrhnis.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/439uq3xpw70wh5ry.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/15219mf4jqeyeksq.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/c1eawbrc6t4pbss.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/dep-graph.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/g6nm7oed1bdjbk8.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/l90411h54n2atkm.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/query-cache.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/rv2qny8wxbh3s96.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/ta4fkgrnws7dec2.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/uvhoij1mwm397yx.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/uvl35dlkkrgz2gp.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/work-products.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/e-ownership-references/target/debug/incremental/e_ownership_references-3fzoj3dlwq7lh/s-gs17o4e7xe-1lifgj1-7q44boap48nh8o1ghe7wckbt5/zcpe6inaverge1y.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/Cargo.lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/src/main.rs
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/.rustc_info.json
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/CACHEDIR.TAG
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/.cargo-lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/f_structs_traits.pdb
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/f-structs-traits.d
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/f-structs-traits.exe
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/.fingerprint/f-structs-traits-d7e594bc65a73489/bin-f-structs-traits
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/.fingerprint/f-structs-traits-d7e594bc65a73489/bin-f-structs-traits.json
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/.fingerprint/f-structs-traits-d7e594bc65a73489/dep-bin-f-structs-traits
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/.fingerprint/f-structs-traits-d7e594bc65a73489/invoked.timestamp
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/deps/f_structs_traits.d
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/deps/f_structs_traits.exe
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/deps/f_structs_traits.pdb
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui.lock
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/2bh0kdh3b23bcjfc.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/3hafdqzdcf6gvqjg.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/4kdfhxq98tlyretc.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/5dduk5h6kkbu6j6m.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/31a6oodamtr1bf4q.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/35rf7cj33rwfjyqq.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/36t7d19yuw4mt40t.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/47b8bv8p9nveud0z.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/137p2nzg7pcl0zvi.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/ang2mzoihmnrd1v.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/dep-graph.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/k7jamryfb8v2qmm.o
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/query-cache.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/f-structs-traits/target/debug/incremental/f_structs_traits-2s2irdisa87ei/s-gs1xcccif7-1orf5ui-9ljtn4vj8uqbhut49esz5sjxh/work-products.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/g-collections-enums/Cargo.lock
.gitignore/incremental/g_collections_enums-30g58tu72w19c/s-gs2qovc09g-xw0q2y-bap4t5uev44dw4wsdp11lvkg/work-products.bin
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/g-collections-enums/target/
ultimate_rust_crash_course-master/ultimate_rust_crash_course-master/exercise/h-closures-threads/target/